<% if(typeof succes != 'undefined'){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= msg  %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

    <h3 class="text-center">Tabel Contact List</h3>

    <a href="/contact/tambah" class="btn btn-success">Tambah Data</a>
    <table class="table">
        <tr>
            <td>no</td>
            <td>Nama</td>
            <td>No.telpon</td>
            <td colspan="3">Action</td>
        </tr>
            <% if(data.length > 0 ){data.forEach(function(dat, i) { %>
                <form action=" " method="post">
                <tr>
                    <td ><%= i+1 %></td>
                    <td ><%= dat.name %></td>
                    <td ><%= dat.mobile%></td>
                    <td ><a href="contact/detail/<%= dat.name %>" class="btn btn-secondary">Detail</a></td>
                    <td ><a href="contact/edit/<%= dat.name %>" class="btn btn-warning" >edit</a></td>
                    <td ><a href="contact/delete/<%= dat.name %>" class="btn btn-danger" onclick="alert('apakah anda yakin??')" >Delete</a></td>
                </tr>
            </form>
 
            <% })} else {  %>
                <tr>
                    <td colspan="5">data Not Found</td>
                </tr>
         <%   }; %>
    </table>

    <% const name = "Rohot M.T. Silaban"%>
    <h1>Web server Node JS</h1>
    <p>welcome to My Page <%= name%></p>


